@color-badge: #E67E22;
@color-field-section: #EEEEEE;
@color-sortable-border: #CCCCCC;
@color-jumbotron: #E6E6E6;

.fancy-layout {
  .control-tabs > div.tab-content > div.tab-pane, .fancy-layout.control-tabs > div.tab-content > div.tab-pane {
    padding: 15px;
  }
  .field-section {
    border-bottom-color: fade(@color-field-section, 50%);
    > h4 {
      color: @color-field-section;
    }
    .help-block {
      color: fade(@color-field-section, 70%);
    }
  }

  ul.thumbnails.image_picker_selector li {
    .thumbnail.selected {
      background-color: @color-badge;
      color: @color-field-section;
    }
    img.image_picker_image{
      width: 100%;
    }
  }
  .form-tabless-fields{
    .help-block {
      color: fade(@color-field-section, 70%);
    }
    .field-fileupload.style-file-single{
      background-color: fade(#FFF, 70%);
    }
  }
  .responsive-sidebar {
    .padded-container {
      padding: 0;
    }
  }
}

.control-breadcrumb + .layout-row > .fancy-layout {
  margin-top: -20px;
}


.pronet-re-icons-row > div {
  margin-bottom: 10px;
  margin-left: 0 ;
  margin-right: 0 ;
  > a {
    position: relative;
    > i {
      font-size: 45px;
      width: 45px;
    }
    > .badge {
      position: absolute;
      display: block;
      top: -2px;
      right: -2px;
      border-radius: 50%;
      background-color: @color-badge;
      color: white;
      color: rgba(255, 255, 255, 0.7);
    }
  }
}
.media > .pronet-re-iconselector-icon-container {
  width: 64px;
  height: 64px;
  line-height: 64px;
  overflow: hidden;
  background-color: @color-field-section;
  margin-right: 10px;
  text-align: center;
}
body.dragging, body.dragging * {
  cursor: move ;
}
.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}
.is-sortable > ol li {
  display: block;
  margin: 5px;
  padding: 5px;
  border: 1px solid @color-sortable-border;
  &.placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    &:before {
      position: absolute;
    }
  }
}
.jumbotron {
  background-color: @color-jumbotron;
  padding: 20px;
  margin-left: -30px;
}
input::-ms-clear {
  display: none;
}
