
    <div class="form-group text-field span-left is-required loading-indicator-container">
        <a href="javascript://" id="Form-field-Icon-code-loader" class="btn btn-default">Load Code</a>
        <a href="javascript://" id="Form-field-Icon-code-save" class="btn btn-info hidden" data-load-indicator="" >Update Code</a>
    </div>

    <div class="form-group text-field span-full is-required">
        <textarea class="form-control field-textarea size-large hidden" name="Icon[code]" id="Form-field-Icon-code"><?= $model->content ?></textarea>
    </div>


<script>
    $(window).load(function(){
        $('#Form-field-Icon-code-loader').on('click', function(){
            $('#Form-field-Icon-code').removeClass('hidden');
            window.editor = CodeMirror.fromTextArea(document.getElementById('Form-field-Icon-code'), {
                mode: "css",
                theme: "monokai",
                lineNumbers: true,
                lineWrapping: true,
                extraKeys: {"Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); }},
                foldGutter: true,
                gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
            });
            $(this).addClass('hidden');
            $('#Form-field-Icon-code-save').removeClass('hidden').on('click', function(){
                window.editor.save();
                $(this).request('onUpdateCode');
            });
        });
    });
</script>