<div data-control="toolbar">
    <a class="btn btn-default oc-icon-chevron-left"
       href="<?= Backend::url('planetadeleste/features/features') ?>">
        <?= e(trans('pronet.realestate::lang.global.label.back')) ?>
    </a>
</div>