<div id="<?= $this->getId('popup') ?>" class="icn-popup">
    <?= Form::open() ?>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="popup">&times;</button>
        <h4 class="modal-title"><?= ($field->label) ? e(trans($field->label)) : 'Icon Selector' ?></h4>
    </div>

    <div class="model-body">
        <div class="container-fluid">
            <div class="tabbable-line">
                <ul class="nav nav-tabs">
                    <?php foreach($icons as $library): ?>
                    <?php if($library->stylesheet): ?>
                    <style type="text/css">
                        <?= $library->stylesheet ?>
                    </style>
                    <?php endif; ?>
                    <li><a href="#<?= $field->getId( $library->id ) ?>" data-toggle="tab"><?= $library->library ?></a></li>
                    <?php endforeach; ?>
                </ul>
                <div class="tab-content">
                    <?php foreach($icons as $library): ?>
                    <div class="tab-pane" id="<?= $field->getId( $library->id ) ?>">
                        <div class="tiles">
                            <?php foreach($library->icons as $icon): ?>
                            <?php $libIcon = ($library->prefix) ? $library->prefix.' '.$icon : $icon; ?>
                            <div class="tile<?= ($value == $libIcon) ? ' selected' : '' ?>"
                                 data-control="iconselector"
                                 data-icon-value="<?= $libIcon ?>"
                                 data-icon-field="#<?= $field->getId() ?>"
                                 data-icon-popup="#<?= $this->getId('popup') ?>"
                                 data-icon-container="#<?= $this->getId('container') ?>">
                                <div class="corner"></div>
                                <div class="check"></div>
                                <div class="tile-body">
                                    <i class="<?= $library->prefix ?> <?= $icon ?> icon-2x"></i>
                                </div>
                                <div class="tile-object">
                                    <div class="name">
                                        <?= $library->iconLabel($icon) ?>
                                    </div>
                                </div>
                            </div>
                            <?php endforeach; ?>
                        </div>
                    </div>
                    <?php endforeach; ?>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button
                type="button"
                class="btn btn-default"
                data-dismiss="popup">
            <?= e(trans('backend::lang.form.cancel')) ?>
        </button>
    </div>
    <?= Form::close() ?>
</div>