<?php if ($this->previewMode): ?>

    <div class="form-control">
        <?= $value ?>
    </div>

<?php else: ?>

<div class="media icn-selector" id="<?= $this->getId('container') ?>">
    <div class="pull-left icn-container">
        <i class="<?= $value ?> fa-4x"></i>
    </div>
    <div class="media-body">
        <button
                class="btn btn-default"
                data-control="popup"
                data-size="giant"
                data-handler="<?= $this->getEventHandler('onLoadIcons') ?>"
                type="button">
            <i class="icon-th-list"></i>
        </button>
        <p class="text-muted icn-value"><?= $value ?></p>

        <div class="hide"><?= $this->makePartial(base_path('/modules/backend/widgets/form/partials/_field_text.htm'), ['field' => $field]) ?>
        </div>
    </div>
</div>


<?php endif ?>